.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
}

.searchInput {
    width: 25vw;
    height: 30px;
    padding: 10px 18px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}

.closeIcon {
    position: absolute;
    padding-top: 15px;
    padding-right: 15px;
}