.searchBar {
    display: flex;
    /* flex-grow: 2; */
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    /* width: 80vw; */
}

.searchInput {
    width: 25vw;
    height: 30px;
    padding: 10px 18px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}