.chipsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.chip {
    border: 1px solid gray;
    border-radius: 25px;
    padding: 5px;
    margin-right: 3px;
    font-size: calc(1.5vmin);
}