.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    background-color: white;
    margin: 0px 30px 15px 15px;
    padding: 0 25px;
    border-radius: 25px;
    width: 100%;
    height: 90%;
}

.noEntries {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 90%;
}

.shuffleLink {
    max-height: 25vh;
    text-align: center;
    font-size: 32px;
    display: inline;
    color: purple;
    margin-bottom: 20px;
}

.entryCard {
    max-width: 200px;
}

.date {
    color: #303030;
    font-family: 'Cutive Mono', monospace;
    font-size: calc(3vmin);
    margin-bottom: 5px;
    text-align: center;
    color: purple;
}

.journalSpreadContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: inherit;
}

.journalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}