.Journal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(2vmin);
    color: purple;
    margin: 25px 50px 50px 50px;
    outline: auto;
    border-radius: 25px;
    height: 80vh;
    background-color: lavender;
}