.chevron {
    padding-left: 10px;
    padding-right: 10px;
}

.App-body {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-evenly;
    font-size: calc(2vmin);
    color: purple;
    margin: 25px 50px 50px 50px;
    outline: auto;
    border-radius: 25px;
    height: 80vh;
    background-color: lavender;
}

.icon {
    width: 5vw;
    outline: none;
    padding-bottom: 20px;
}

.iconNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 50px;
    margin: 25px;
}

.positionName {
    margin-top: 20px;
    margin-bottom: 0;
    color: black;
    text-decoration: none;
}

.cardContainer {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.MuiPaper-root {
    border-radius: 25px !important;
}

.dialog {
    margin: 25px;
    text-align: center;
}

.spreadContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.vertDivider {
    border-left: 1px solid gray;
    height: 40vh;
    position: relative;
}

.inactiveIcon {
    filter: invert(62%) sepia(0%) saturate(1803%) hue-rotate(138deg) brightness(81%) contrast(87%);
}