@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.App {
  font-family: 'Poiret One', cursive;
  max-height: 25vh;
  display: flow-root;
  text-align: center;
}

.headerNav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: start;
  justify-content: flex-start;
}

.navLink {
  font-size: 32px;
  display: inline;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 25px;
  text-decoration: none;
}

a.navLink.active {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.title {
  font-size: 60px;
  /* text-align: start; */
  margin-left: 50px;
}
