@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.App {
  font-family: 'Poiret One', cursive;
  max-height: 25vh;
  display: flow-root;
  text-align: center;
}

p, li {
  font-family: 'Verdana', cursive;
  font-size: calc(1.8vmin);
}

.headerNav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: start;
  justify-content: flex-start;
}

.navLink {
  font-size: 32px;
  display: inline;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 25px;
  text-decoration: none;
  color: rgb(85, 26, 139);
}

a.navLink.active {
  text-decoration: underline;
  text-underline-offset: 0.5em;
  color: rgb(85, 26, 139);
}

.title {
  font-size: 60px;
  color: black;
  text-decoration: none;
  margin-left: 50px;
}

.action-button {
  width: 150px;
  height:  40px;
  border-radius: 25px;
  border: 1px solid purple;
  background-color: white;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}