.Card {
    margin: 10px;
}

h1 {
    size: 24px;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

img {
    max-width: 200px;
    outline: rgb(146, 145, 145) solid 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 11px;
}

.titleStyleImage {
    display: flex;
}

p {
    max-width: 200px;
    font-family: 'Arial', cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}