.Search-body {
    display: flex;
    align-items: center;
    font-size: calc(2vmin);
    color: purple;
    margin: 25px 50px 50px 50px;
    outline: auto;
    border-radius: 25px;
    height: 80vh;
    background-color: lavender;
}

.iconNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
}

.icon {
    width: 5vw;
    outline: none;
    padding-bottom: 20px;
}

.cardsSearchContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px 0 15px 0;
}

.cardsContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
    overflow: scroll;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.modalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
}

.full {
    margin: 20px 0 20px 0;
    padding: 10px;
    background-color: white;
    width: auto;
    border-radius: 25px;
    overflow: hidden;
    flex-wrap: nowrap;
}

.searchHeader {
    display: flex;
    width: 100%;
}

.cardTitle {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
    width: 16vw;
}

.vertDivider {
    border-left: 1px solid gray;
    height: 40vh;
    position: relative;
}

.cardsContainer::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

.cardsContainer::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

.cardsContainer::-webkit-scrollbar-thumb {
    background-color: purple;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid purple; */
    /* creates padding around scroll thumb */
}