.App-body {
    display: flex;
    align-items: flex-start;
    font-size: calc(2vmin);
    color: purple;
    margin: 25px 50px 50px 50px;
    outline: auto;
    border-radius: 25px;
    height: 80vh;
    background-color: lavender;
}

.vertDivider {
    border-left: 1px solid gray;
    height: 40vh;
}