.chevron {
    padding-left: 10px;
    padding-right: 10px;
}

.App-body {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: space-evenly;
    font-size: calc(2vmin);
    color: purple;
    margin: 25px 50px 50px 50px;
    outline: auto;
    border-radius: 25px;
    height: 80vh;
    background-color: lavender;
}

.cardContainer {
    width: 33%;
}

.cardModal {
    display: flex;
    align-self: normal;
    background-color: white;
    margin: 20px;
    border-radius: 25px;
    padding: 10px;
}

.spreadContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}