.Card {
    margin: 10px;
    display: inline;
}

h1 {
    size: calc(3vmin);
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin-top: 0;
}

h2 {
    size: calc(2.2vmin);
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    font-size: calc(2.5vmin);
    margin-bottom: 0;
    margin-top: 0;
}

img {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 11px;
}

li {
    text-align: left;
    margin: 5px 0 5px 0;
    list-style-type: circle;
    color: #303030;
}

p {
    color: #303030;
}

.meaningsContainer {
    outline: lightgrey solid 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: auto;
}

.cardImage {
    display: flex;
}

.archetype {
    text-align: center;
}

.briefKeywords {
    max-width: 200px;
    font-family: 'Verdana', cursive;
    font-size: calc(1.8vmin);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.headerKeywords {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.cardBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.fact {
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}

.fullCard {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.fullCardHeader {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 0;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-grow: 1;
}

.left {
    margin-right: 10px;
    width: 30vw;
}

.compact {
    flex-grow: 0;
}

.shrink {
    height: auto;
}

.small {
    border-radius: 0;
    height: 100px;
}

.smallCardContainer {
    margin-right: 5px;
}

div.infoColumn.meaningsContainer {
    width: unset;
}

.cardBack {
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
}